<p id="notice"><%= notice %></p>

<p>
  <strong>Notification:</strong>
  <%= @purchase.notification_id %>
</p>

<p>
  <strong>Purchasenumber:</strong>
  <%= @purchase.purchaseNumber %>
</p>

<p>
  <strong>Docpublishdate:</strong>
  <%= @purchase.docPublishDate %>
</p>

<p>
  <strong>Href:</strong>
  <%= @purchase.href %>
</p>

<p>
  <strong>Purchaseobjectinfo:</strong>
  <%= @purchase.purchaseObjectInfo %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @purchase.guid %>
</p>

<p>
  <strong>Createdatetime:</strong>
  <%= @purchase.createDateTime %>
</p>

<p>
  <strong>Registrationnumber:</strong>
  <%= @purchase.registrationNumber %>
</p>

<p>
  <strong>Name:</strong>
  <%= @purchase.name %>
</p>

<p>
  <strong>Purchasemethodcode:</strong>
  <%= @purchase.purchaseMethodCode %>
</p>

<p>
  <strong>Purchasecodename:</strong>
  <%= @purchase.purchaseCodeName %>
</p>

<p>
  <strong>Publicationdatetime:</strong>
  <%= @purchase.publicationDateTime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @purchase.status %>
</p>

<p>
  <strong>Version:</strong>
  <%= @purchase.version %>
</p>

<p>
  <strong>Modificationdate:</strong>
  <%= @purchase.modificationDate %>
</p>

<p>
  <strong>Saveuserid:</strong>
  <%= @purchase.saveUserId %>
</p>

<p>
  <strong>Examinationplace:</strong>
  <%= @purchase.examinationPlace %>
</p>

<p>
  <strong>Examinationdatetime:</strong>
  <%= @purchase.examinationDateTime %>
</p>

<p>
  <strong>Submissionclosedatetime:</strong>
  <%= @purchase.submissionCloseDateTime %>
</p>

<p>
  <strong>Publicationplanneddate:</strong>
  <%= @purchase.publicationPlannedDate %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
