<%= form_with(model: lot, local: true) do |form| %>
  <% if lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
      <% lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purchase_id %>
    <%= form.text_field :purchase_id %>
  </div>

  <div class="field">
    <%= form.label :guid %>
    <%= form.text_field :guid %>
  </div>

  <div class="field">
    <%= form.label :ordinalNumber %>
    <%= form.number_field :ordinalNumber %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :initialSum %>
    <%= form.text_field :initialSum %>
  </div>

  <div class="field">
    <%= form.label :deliveryPlace %>
    <%= form.text_field :deliveryPlace %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
