<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase:</strong>
  <%= @lot.purchase %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @lot.guid %>
</p>

<p>
  <strong>Ordinalnumber:</strong>
  <%= @lot.ordinalNumber %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @lot.subject %>
</p>

<p>
  <strong>Initialsum:</strong>
  <%= @lot.initialSum %>
</p>

<p>
  <strong>Deliveryplace:</strong>
  <%= @lot.deliveryPlace %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
